h1{
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 50px;
  padding-bottom: 50px; 
}
body
{
  font-family: 'Dancing Script', cursive;
  background-color: #FF4C68;
  text-align: center;
  font-size: 5rem;
}
.jo-img
{

}
